/* 
@author Wesley Guerra
@version 0.1
*/

/* ====layout ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
font-family: 'Roboto', sans-serif;
-webkit-font-smooyhing: antialiased; /* melhoarda na visualização da fonte */
outline: none;
box-sizing: border-box;
}
p{
color: rgb(134, 131, 131);
font-size: 16px;
text-shadow: 0px 0px 0.5px #000;
}
body, html,.capa{
height: 100%;
overflow: auto;

}
:root{
--primary-color: rgb(153, 20, 31);
--third-color: #CB202D;
--secondary-color: #770710;
}


.icon-zap img{
width: 70px;
}
.icon-zap{
position: fixed;
bottom: 5%;
z-index: 4;
right: 10px;
/* animation */
/* animation-name: zap ; 
animation-duration: 2s; 
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: reverse; */

}


/* Barra de  nageação */

.img-logo{
height: 80px;
width: 300px;
background: url('imagens/logo.png') no-repeat;
background-size: cover;
color: transparent;



}
nav.navbar-transparent{
padding: 15px 0px;
background: var(--primary-color);
border: none;

}
.navbar-brand{
padding: 5px 15px;


} 

.divisor{
width: 1px;
height: 16px;
background: #ffffff;
margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer a{
color: rgba(255, 255, 255, 0.8);
text-shadow: 2px 2px 2px #000;
font-size: 15px;
letter-spacing: 1.5px;
transition: background-color 0.3s;
transition: border-bottom 0.5s;
font-weight: bold;
border-bottom: 2px solid rgba(0,0,0,0.0); 
text-transform: uppercase;


}

.navbar-inverse .navbar-nav>li>a:hover{
color: #fff;
background-color: var(--primary-color);

}

.ativo{
color: #fff;
background-color: var(--primary-color);

}
/* Imagem de capa */
.banner{
width: 100%;
height: 100%;
background: url('https://images.unsplash.com/photo-1501290836517-b22a21c522a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80') no-repeat;
background-size: cover;
background-attachment: fixed;       
position: relative;

}
.layer{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);

}

.capa{

display: flex;
justify-content: center;
align-items: center;

}

.texto-capa{
text-align: center;
color: #fff;
z-index: 1;
}

.texto-capa p{
font-size: 16px;
margin-bottom: 100px;
margin-top: 100px;
color: #ffffff;
padding: 10px 0px;
font-weight: 900;
letter-spacing: 1.5px;
}



/* == botões == */
.btn-custom {

/* color: #fff;
border-radius: 500px;
background: #7c25f8;
padding: 10px 35px; */

display: flex;
justify-content: center;
align-items: center;
padding: 15px;
color: white;
text-decoration: none;
cursor: pointer;
background-color: var(--primary-color);
border-radius: 5px;
max-width: 300px;
margin: 0 auto;
border: 1px solid var(--primary-color);
font-weight: bold;

}

.btn-custom:hover{
background: var(--secondary-color);
border: 1px solid var(--secondary-color);
color: #fff;
transition: 1s;
font-weight: bold;

}
/* segmetons */
#segmentos{
background: #fff;
padding-top: 20px;
padding-bottom: 20px;
}

/* tipografia */
#segmentos .title{
text-align: center;

}

.texto-capa h1{
    font-size: 60px;
    font-weight: 900px;
    letter-spacing: 0px; 
 
    }




/* cards services */
#service{
padding-bottom: 60px;
background-color: #fff;

}
.title-service{
text-align: center;
padding: 50px 0px;   

}

.title-service h2{
font-size: 50px;
padding-bottom: 20px;
border-bottom: 1px solid #ccc;
}


.cards{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;

}

.card{
padding: 10px ; 
height: 100%;

}

.card .content{
height: 200px;
padding: 5px 10px; 
}

.card  p{
    font-size: 15px;
}



/* == section solicitar uma proposta === */
#proposta{
width: 100%;
background: url('./imagens/bg.jpg') no-repeat;
background-size: cover;
background-attachment: fixed;       
position: relative;
height:auto;
padding: 100px 0px;

}

#proposta .title-service{
color: #fff;
font-weight: bold;
}
#proposta .title-service p{
color: #fff;
}

#proposta form{
display: flex;
justify-content: center;
flex-direction: column;

width: 80%;
margin: 0 auto;
}
#proposta form input{
padding: 30px;
border-radius: 500px;
margin-top: 10px;
font-size: 20px;
color: rgb(95, 85, 85);
}


form button{
width: 100%;
background: var(--primary-color);
color: #fff;
border-radius: 500px;
border: 0;
padding: 15px 35px;
font-size: 30px;
transition: background 1s;
margin-top: 10px;
}

form button:hover{
background: var(--secondary-color) ;
}




/* section 2 Abertura de mepresas */
section#abertura{
background: var(--secondary-color);
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}


#abertura h3{
color: #fff;
padding-top: 20px;
padding-bottom: 20px;
font-size: 50px;
letter-spacing: 2px;
border-bottom: 2px solid #ddd;


}

#abertura p{
padding-top: 20px;
line-height: 32px;
letter-spacing: 2px;
margin-bottom: 50px;
color: #fff;
}
#abertura a{
margin:80px auto;
background-color: #770710;
border: 2px solid rgba(255, 255, 255, 0.2);

}
#abertura img{
max-width: 1000px;
width: 100%;
height: 100%;
border-radius: 2%;
}
/* footer */



footer{
padding-top:20px ;
background: #000;
padding: 50px 0px 20px 0px;
display: flex;

}

footer .card-footer{
    padding: 40px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

}


footer p{
    line-height: 30px;
    }
footer span{
margin-bottom: 30px;

}

footer  h4{
color: #fff;
padding-bottom: 8px;
margin-top: 8px;
}
footer ul{
background: none;
}

footer ul li{
display: flex;

}
.item-contato{
text-transform: uppercase;
}
.item-contato ul li{
padding: 10px;
color: #fff;

}

.item-contato ul li a {
padding-left: 10px;

}
.item-contato ul li a:hover{
text-decoration: none;
color: #fff;
}

.item-rede-social {
display: flex;
padding: 2px;
justify-content: center;
}

.item-rede-social a{
padding: 8px;

}
.instructor-member >img{
width: 225px;
height: 225px;
border: 7px solid var(--primary-color);
text-align: center;
margin-bottom: 10px;

}
.instructor-member h4{
padding: 0;
margin: 0;
}
.instructor-member p{
margin: 0;
font-size: 15px;
}

.instructor-member{
text-align: center;
}


@media screen and (max-width:767px){

.texto-capa h1{
font-size: 50px;
letter-spacing: 0px; 
}

.title h2{
font-size: 40px;
letter-spacing: 0.5px;
margin-bottom: 20px;
}

.texto-capa p{
font-size: 18px;
}

#abertura{


}

#abertura h3{
padding-top: 20px;
font-size: 30px;
letter-spacing: 2px;
text-align: center;
width: 100%;
}

#abertura p{

width: 300px;

}

#abertura {
text-align: center;
}

#abertura a{
text-align: center;
margin-left: 50px;
}

.card:nth-child(4){
margin-top: 70px;
}


}







/* Animação */

[data-anime]{
opacity: 0;
transition: 0.8s;
}

[data-anime="left"]{
transform: translate3d(-10px, 0 , 0 );
visibility: hidden;
}

[data-anime="center"]{
transform: translate3d(0px, -10px , 0 );
visibility: hidden;
}

[data-anime="right"]{
transform: translate3d(10px, 0 , 0 );
visibility: hidden;
}

[data-anime].animate{
opacity: 1;
transform: translate3d(0px, 0px ,0px);
visibility: visible;
}