/* 
@author Wesley Guerra
@version 0.1
*/

/* ====layout ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
font-family: 'Roboto', sans-serif;
-webkit-font-smooyhing: antialiased; /* melhoarda na visualização da fonte */
outline: none;
box-sizing: border-box;
}
p{
color: rgb(134, 131, 131);
font-size: 16px;
text-shadow: 0px 0px 0.5px #000;
}
body, html,.capa{
height: 100%;

}


.icon-zap img{
width: 70px;
}
.icon-zap{
position: fixed;
bottom: 5%;
z-index: 4;
right: 10px;
/* animation */
/* animation-name: zap ; 
animation-duration: 2s; 
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: reverse; */

}


/* Barra de  nageação */

.img-logo{
height: 40px;
width: 132px;
display: block;
background: url('imagens/spotify.svg') no-repeat;
background-size: contain;
color: transparent;

}
nav.navbar-transparent{
padding: 15px 0px;
background: rgba(0,0,0,0.6);
border: none;

}
.navbar-brand{
padding: 5px 15px;


} 

.divisor{
width: 1px;
height: 16px;
background: #ffffff;
margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer a{
color: #fff;
text-shadow: 2px 2px 2px #000;
font-size: 15px;
letter-spacing: 1.5px;

}

.navbar-inverse .navbar-nav>li>a:hover{
color: #7c25f8;
}

/* Imagem de capa */
.banner{
width: 100%;
height: 100vh;
background: url('https://images.unsplash.com/photo-1501290836517-b22a21c522a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80') no-repeat;
background-size: cover;
background-attachment: fixed;       
position: relative;

}
.layer{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);

}

.capa{

display: flex;
justify-content: center;
align-items: center;

}

.texto-capa{
text-align: center;
color: #fff;
z-index: 1;
}

.texto-capa p{
font-size: 18px;
background-color: rgba(0,0,0,0.5);
border-radius: 500px;
width: 70%;
margin: 0 auto;
margin-bottom: 100px;
margin-top: 100px;
color: #ffffff;
padding: 10px 0px;


}



/* == botões == */
.btn-custom {

/* color: #fff;
border-radius: 500px;
background: #7c25f8;
padding: 10px 35px; */

display: flex;
justify-content: center;
align-items: center;
padding: 15px;
border: 1px solid #7c25f8;
color: white;
text-decoration: none;
cursor: pointer;
background-color: #7c25f8;
border-radius: 5px;
max-width: 200px;
width: 100%px;
margin: 0 auto;

}

.btn-custom:hover{
background: #6207e3;
color: #fff;
transition: 1s;

}
/* segmetons */
#segmentos{
background: #fff;
padding-top: 20px;
padding-bottom: 20px;
}




/* tipografia */
#segmentos .title{
text-align: center;
}
.title h2{
font-size: 40px;
letter-spacing: 0.5px;
margin-bottom: 20px;
}
.texto-capa h1{
font-size: 80px;
font-weight: 900px;
letter-spacing: -6px; 
padding: 0px 4px;
}


.cards {

display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card{
width:500px ;
padding: 30px 20px ;
background: #DDD;
border-radius: 5px;
margin-left: 5px;
margin-right: 5px;
margin-top:  20px;

-webkit-box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.75);
box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.75);

}

.card-title{
font-size: 20px;
margin: 20px 20px;
position: relative;
}
.card-text{
font-size: 15px;
max-width: 300px;
margin: 20px auto;
color: rgb(134, 131, 131);
letter-spacing: 0.5px;
position: relative;
}





/* == section solicitar uma proposta === */
#protosta{
background: #414041 ;

}

section .form{
max-width: 800px;
margin: 0 auto;
text-align: center;
padding: 80px;


}
form{
padding: 20px;
}

.form h1{
color: #fff;
font-size: 60px;
text-transform: uppercase;
text-shadow: 2px 2px 2px #000;
}
input{
padding: 20px 30px;
width: 90%;
border-radius: 500px;
font-size: 15px;
color: rgb(51, 49, 49);


}


form button{
width: 90%;
background: rgba(0,0,0,0.6);
color: #fff;
border-radius: 500px;
border: 0;
padding: 15px 35px;
font-size: 20px;
transition: background 1s;
font-size: 25px;

}

form button:hover{
background:#A52A2A ;

}


/* section 2 Abertura de mepresas */
section#abertura{
background: #EEe;
padding: 100px;
}

.img{ 
width: 100%;
max-width: 490px;
}
#abertura h3{
padding-top: 20px;
font-size: 30px;
letter-spacing: 2px;

}

#abertura p{
padding-top: 20px;
line-height: 32px;
letter-spacing: 2px;
margin-bottom: 50px;
}
#abertura a{
margin: 0;
}
/* footer */

footer p{
line-height: 30px;
}

footer{
padding-top:20px ;
background: #000;
padding: 50px 0px 20px 0px;

}

footer span{
margin-bottom: 30px;

}

footer  h4{
color: #fff;
padding-bottom: 8px;
margin-top: 8px;
}
footer ul{
background: none;
}

footer ul li{
display: flex;

}
.item-contato{
text-transform: uppercase;
}
.item-contato ul li{
padding: 10px;
color: #fff;

}

.item-contato ul li a {
padding-left: 10px;

}
.item-contato ul li a:hover{
text-decoration: none;
color: #fff;
}

.item-rede-social {
display: flex;
padding: 2px;
justify-content: center;
}

.item-rede-social a{
padding: 8px;

}
.instructor-member >img{
width: 225px;
height: 225px;
border: 7px solid #322f3a;
text-align: center;
margin-bottom: 10px;

}
.instructor-member h4{
padding: 0;
margin: 0;
}
.instructor-member p{
margin: 0;
font-size: 15px;
}

.instructor-member{
text-align: center;
}
/* animação */

/* Animação */

/* [data-anime]{
opacity: 0;
transition: 0.8s;
}

[data-anime="left"]{
transform: translate3d(-10px, 0 , 0 );
visibility: hidden;
}

[data-anime="center"]{
transform: translate3d(0px, -10px , 0 );
visibility: hidden;
}

[data-anime="right"]{
transform: translate3d(10px, 0 , 0 );
visibility: hidden;
}

[data-anime].animate{
opacity: 1;
transform: translate3d(0px, 0px ,0px);
visibility: visible;
} */