
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="imagens/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Efiz</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="estilo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="icon-zap">
        <a href="https://api.whatsapp.com/send?phone=5571993768339&text=Ol%C3%A1%20meu%20nome%20%C3%A9"
            target="_blank"><img src="./imagens/zap.ico" alt=""></a>
    </div>


    <div class="banner" id="capa">

        <div class="layer"></div>
        <nav class="navbar navbar-fixed-top navbar-inverse navbar-transparent">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#barra-nav">
                        <span class="sr-only">alterna navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="index.html" class="navbar-brand"
                        style="display: flex; justify-content: cente; align-items: center;">

                        <span class="img-logo"> </span>
                    </a>
                </div>
                <!-- /navbar -->
                <div class="collapse navbar-collapse" id="barra-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#capa" class="ativo">Home</a></li>
                        <li><a href="#services" c>Nossos Segmentos</a></li>
                        <li><a href="#abertura">Abertura de Empresas</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>
                </div>
            </div> <!-- /container -->
        </nav> <!-- /nav -->

        <div class="capa">
            <div class="texto-capa">
                <h1>CONTABILIDADE E CONSULTORIA FINANCEIRA</h1>
                <p>Auxiliamos na tomada de decisões para o crescimento do seu negócio com eficiência e eficácia.</p>
                <a href="" class="btn btn-custom btn-lg"> Nossos Serviços <i class="material-icons">
                        double_arrow
                    </i> </a>
            </div>

        </div>
    </div> <!-- / banner -->

    <!-- CONTEUDO -->
    <section id="service">
        <div class="title-service" id="services">
            <h2>Conheça os nossos segmentos</h2>
            <!-- <p>Temos o compromisso de ajudar a sua empresa a crescer de forma rápida e prática, com
                planejamento, organização e gestão.</p> -->
        </div>
        <div class="container">
            <div class="row">

                <div class="cards">

                    <div class="card  ">
                        <div class="card-img col-md-6">
                            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="">
                        </div>
                        <div class="  card-content col-md-6 secondary ">
                            <h3>Empresas de serviços</h3>
                            <p>Somos Profissionais especializados na sua atividade, auxiliamos
                                você com todos os processos burocráticos e na tomada de decisões adequadas para o
                                crescimento do seu negócio. Além de fazer planejamentos visando sempre a redução de
                                impostos de acordo com seu faturamento.</p>
                        </div>
                    </div>

                    <div class="card reverse">
                        <div class="card-content col-md-6 primary">
                            <h3>Profissionais da Saúde</h3>
                            <p>Estamos prontos para orientá-los sobre o melhor perfil
                                jurídico para o seu caso, organizamos todos os processos burocráticos
                                e fazemos toda perte tributária evitando problemas com o fisco.</p>
                        </div>
                        <div class="card-img col-md-6">
                            <img src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"
                                alt="">
                        </div>

                    </div>


                    <div class="card ">
                        <div class="card-img col-md-6 ">
                            <img src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                                alt="">
                        </div>
                        <div class="card-content col-md-6 secondary ">
                            <h3>Gestão Financeira</h3>
                            <p>Ter saúde financeira é essencial para manter e crescer a sua empresa de forma eficiente e
                                sustentável. Nós estamos aqui para ajudar nos processos financeiros do seu negócio,
                                proporcionamos uma visão geral financeira através do fluxo de caixa, as possibilidades
                                de
                                redução de custos e a necessidade de capital de giro, elaboramos o seu planejamento
                                financeiro. </p>
                        </div>
                    </div>

                    <div class="card reverse ">
                        <div class="card-content col-md-6 primary">
                            <h3>Terceirização do Financeiro</h3>
                            <p>Para que possa alavancar os seus resultados otimizar o seu tempo para focar no cliente,
                                temos
                                o serviço de terceirização do financeiro, onde executamos a parte financeira do seu
                                negócio,
                                como as contas a pagar e a receber, proporcionando redução de custo, eficiência e
                                segurança.</p>
                        </div>
                        <div class="card-img col-md-6">
                            <img src="https://images.unsplash.com/photo-1521790797524-b2497295b8a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80"
                                alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="abertura">

        <div class="container">
            <div class="row">
                <div class="abertura-content">
                    <div class="section_1">
                        <img class="img"
                            src="https://images.unsplash.com/photo-1531497082986-2422f7b87330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="section_2">
                        <h3>Abertura de empresas</h3>
                        <p>Te auxiliamos na escolha jurídica do seu negócio e cuidamos de toda parte burocrática para que
                            você possa ter tempo para seus clientes.</p>
                        <a href="" class="btn btn-custom btn-lg"> Quero fazer uma proposta <i class="material-icons">
                                double_arrow
                            </i> </a>
                    </div>
                </div>
               
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row">
            <div class="cards-main">
                <div class="card-main ">
                    <div class="img-main">
                        <img src="imagens/rocket_icon-icons.com_60268.ico" alt="">
                        <h2>Starter</h2>
                    </div>
                    <p>
                        Videos 100% online para você dar o próximo passo na sua evolução. E o melhor, de graça!
                    </p>
                    <a href="https://www.youtube.com/channel/UCMawYvzyZywhIwUnH7d4E_g" class="btn btn-custom btn-lg">
                        Visualizar o canal </a>
                </div>


                <div class="card-main ">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/y4ziQIi5j10" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>


    <section id="proposta">
        <div class="layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-service">
                        <h2>Solicite uma Proposta</h2>
                        <p>Leve o seu negócio ao próximo nível de forma inovadora!</p>
                    </div>
                    <form action="">
                        <input type="text" placeholder="Informe seu nome">
                        <input type="email" placeholder="Informe seu email">
                        <button type="submit">Solicitar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer id="contato">
        <div class="container">
            <div class="row">
                <div class="cards">
                    <div class="card col-md-4">
                        <h3>Sobre</h3>
                        <p> A Efiz é uma empresa contábil e financeira que através de soluções tecnológicas e
                            profissionais
                            capacitados, ajuda o empresário com informações e orientações fundamentais para a tomada de
                            decisão e sucesso do seu negócio.</p>
                    </div>

                    <div class="card col-md-4">
                        <img src="./imagens/sabrina.PNG" alt="Ramon Carvalho - Instrutor Rfuteam"
                            class="mx-auto rounded-circle">

                        <p> 💰Contadora Consultora</p>
                        <ul class="item-rede-social" style="font-size: 32px;">
                            <a target="_blank"
                                href="https://www.facebook.com/EFIZ-Consultoria-107771114257477/?modal=admin_todo_tour">
                                <img src="./imagens/facebook.png" alt="Sabrina Oliveira"></a>
                            <a target="_blank" href="https://www.instagram.com/efizconsultoria/?igshid=2zdynj9nguz1">
                                <img src="./imagens/instagram.png" alt="Instagram"></a>
                            </a>
                        </ul>
                    </div>

                    <div class="card col-md-4">
                        <h3>Informações de contato</h3>
                        <ul>
                            <li> <i class="material-icons"> call </i> <a href=""> (71) 99376-8339</a></li>
                            <li> <i class="material-icons"> email </i><a href=""> contato@efiz.com.br</a></li>
                            <li> <i class="material-icons"> access_time </i> <a href=""> Seg. à Sex. das 08:00 ás
                                    17:30</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape col-md-12 " style="text-align: center; background-color: #770710; color: blanchedalmond;">
            <img src="imagens/logo.png" width="200" alt="">

            <p style="color: blanchedalmond;"> © 2020 - Todos os direitos reservados
                Direitos autorais
                Termos de uso
                Política de privacidade
                Consulta de certificados</p>
        </div>

    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>



</body>

</html>